@media screen and (min-width: 768px) {
  .sticky {
    position: sticky;
     top: 0;
  }
}

.title{
    width: 100%; 
    text-align: center;
    padding-top: 10px;
}

.paragraph{
    width: 100%;
    text-align: center;
}